.form-container {
  width: 40vw;

  &__form {
    display: flex;
    flex-direction: column;

    input span.input-image {
      color: #f44336;
    }
  }
}
textarea {
  height: 100px;
}

button {
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
}

img {
  width: 100%;
}